body {
  font-family: "Quicksand", sans-serif;
  background-color: #ffd6e2;
}
h3 {
  margin: 30px;
  text-align: center;
}
form {
  margin-top: 20px;
  text-align: center;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.degrees .active {
  color: 000000;
  cursor: default;
}

.degrees .active:hover {
  text-decoration: none;
}

.search {
  background-color: #9bddff;
  border-color: #9bddff;
  border-radius: 15px;
  padding: 10px;
}

.go {
  background-color: green;
  color: white;
  border-radius: 15px;
  padding: 10px;
}
.large-icon {
  font-size: 60px;
}
.weather-description {
  text-transform: capitalize;
}
