h1 {
  text-align: center;
}
body {
  font-family: "Quicksand", sans-serif;
}
h3 {
  margin: 30px;
  text-align: center;
}
form {
  margin-top: 20px;
  text-align: center;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
::placeholder {
  color: white;
}
.container {
  background-color: #ffd6e2;
  padding: 30px;
  border-radius: 30px;
  margin: 50px auto;
  max-width: 600px;
}
.degrees .active {
  color: 000000;
  cursor: default;
}

.degrees .active:hover {
  text-decoration: none;
}

.search {
  background-color: #a53860;
  border-color: #a53860;
  border-radius: 15px;
  padding: 10px;
}

.go {
  background-color: #48a9a6;
  color: white;
  border-radius: 15px;
  padding: 10px;
  width: 60px;
}
.large-icon {
  font-size: 60px;
}
.weather-description {
  text-transform: capitalize;
}
