body {
  font-family: "Quicksand", sans-serif;
  background-color: pink;
}
h3 {
  margin: 30px;
}
form {
  margin-top: 20px;
  text-align: center;
}
i {
  color: #d60270;
}
footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.search {
  background-color: #9bddff;
  border-color: #9bddff;
  border-radius: 15px;
  padding: 10px;
}

.go {
  background-color: green;
  color: white;
  border-radius: 15px;
  padding: 10px;
}
.large-icon {
  font-size: 60px;
  color: #d60270;
}
.col {
  text-align: center;
  font-size: 18px;
}
.weather-description {
  text-transform: capitalize;
}
